<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
               {{> navigation}}
        </header>
        <main class="bg-light mb-4 ">
            <h1 class="rubik text-primary text-center">Add Accessory</h1>
            <div class="form m-4">
                <form action='/create/accessory' method="POST">

                  <div class="mb-3">
                    <label class="form-label" for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" >
                   </div>

                  <div class="mb-3">
                    <label class="form-label" for="Description">Description:</label>
                    <textarea id="name" name="description" rows="5" class="form-control"></textarea>
                  </div>
                  
                  <div class="mb-3">
                    <label class="form-label" for="image">Image URL:</label>
                    <input type="text" id="image" name="imageURL" class="form-control" >
                  </div>
              
                    <input class="btn btn-info mb-3" type="submit" value="Create">
                </form>
            </div>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>