<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Cube</title>
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
               {{> navigation}}
        </header>
        <main class="bg-light mb-4 ">
            <h1 class="rubik text-primary text-center">Create Cube</h1>
            <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              
<div class="form m-4">
                <form action='/create/' method="POST">

                  <div class="mb-3">
                    <label class="form-label" for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" >
                   </div>

                  <div class="mb-3">
                    <label class="form-label" for="Description">Description:</label>
                    <textarea id="name" name="description" rows="5" class="form-control"></textarea>
                  </div>
                  
                  <div class="mb-3">
                    <label class="form-label" for="image">Image URL:</label>
                    <input type="text" id="image" name="image_url" class="form-control" >
                  </div>

                  <div class="mb-3">
            <label for="difficulty">Difficulty</label>
          <select id="difficulty" name="difficultyLevel" class="form-control">
            <option value="1">1 - Very Easy</option>
            <option value="2">2 - Easy</option>
            <option value="3">3 - Medium (Standard 3x3)</option>
            <option value="4">4 - Intermediate</option>
            <option value="5">5 - Expert</option>
            <option value="6">6 - Hardcore</option>
          </select>
                  </div>
              
                    <input class="btn btn-info mb-3" type="submit" value="Create">
                </form>
            </div>
            </div>
            <div class="col-2"></div>
            </div>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>