<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link href="./stylesheets/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
     {{> navigation}}
    </header>
    <main>
	<h1>Login Form</h1>
<div class="form">
    <form action='/login/logout' method="POST">
       
        <input type="submit" value="Logout">
    </form>
</div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>